-- Generado: 8 mapas (prefix=claracore/2/fotos, listados 8 recursos API)
BEGIN;
UPDATE so_registros SET foto_url = CASE foto_numero::text
  WHEN '36' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776875848/claracore/2/fotos/foto_36.jpg'
  WHEN '37' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776887276/claracore/2/fotos/foto_37.jpg'
  WHEN '38' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776887303/claracore/2/fotos/foto_38.jpg'
  WHEN '39' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776888080/claracore/2/fotos/foto_39.jpg'
  WHEN '40' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776888303/claracore/2/fotos/foto_40.jpg'
  WHEN '41' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776888637/claracore/2/fotos/foto_41.jpg'
  WHEN '42' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776888750/claracore/2/fotos/foto_42.jpg'
  WHEN '43' THEN 'https://res.cloudinary.com/do53nog0o/image/upload/v1776898555/claracore/2/fotos/foto_43.jpg'
  ELSE foto_url
END
WHERE foto_numero::text IN ('36','37','38','39','40','41','42','43')
AND contrato_id = 2;
COMMIT;

-- Total mapas: 8 | scope: contrato_id = 2

-- Opcional: limitar a un acta RPO (elegir contrato_id y numero_rpo):
-- AND reporte_id IN (
--   SELECT id FROM so_reportes WHERE acta_rpo_id = (
--     SELECT id FROM actas WHERE contrato_id = <ID> AND numero_rpo = 73
-- ));
